{% extends "app.html.twig" %}

{% block title %}
 Add Link
{% endblock %}

{% block content %}
    <h1 class="ui center aligned header"><div class="content">Add New Link</div></h1>
    {{ include('ui/new-link_form.html.twig') }}
{% endblock %}

{% block custom_js %}
{% endblock %}