{% extends "app.html.twig" %}

{% block title %}
All Links
{% endblock %}

{% block content %}
    <h1 class="ui center aligned header"><div class="content">All Links</div></h1>
    {# include('ui/links-table.html.twig') #}
    {{ include('ui/link_item_list.html.twig') }}
{% endblock %}

{% block custom_js %}
	{# <script type="text/javascript" src="js/all_links_func.js"></script> #}
{% endblock %}