<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>urkl - {% block title %} {% endblock %} </title>
       
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    </head>
    <body>
        {{ include ('ui/add_link_popup.html.twig') }}
        {{ include('ui/topbar.html.twig') }}

        <div class="ui container" id="urkl-main-view">
            {{ include ('ui/add_link_notifications.html.twig')}}

            <div id="content">{% block content %}{% endblock %}</div>
        </div>
        
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        
    <script src="semantic/semantic.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="html2canvas/html2canvas.min.js"></script>
    {# Custom JS #}
    {% block custom_js %}{% endblock %}
    </body>
</html>