{% extends "app.html.twig" %}

{% block title %}
 Home Page
{% endblock %}

{% block content %}
    <h3>{{ link.url }}</h3><br/><span class="label info"><i class="fi-widget"></i>Shortcode: {{ shortcode }}</span>
    
{% endblock %}