{% extends "app.html.twig" %}

{% block title %}
 {{ link.url }}
     {# Title needs to be the URL's title #}
{% endblock %}

{% block content %}
    {{ include('ui/topbar.html.twig') }}
    
    {# <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE"></div> #}
    
    {# <div class="ui embed" data-url="{{ link.url }}"></div> #}
    <div class="ui embed" data-url="{{ link.url }}"></div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $('.ui.embed').embed({
         });
    </script>
{% endblock %}