{# Logic for handling messages from the Shortcode Controller when adding new links #}

{% if add_success == true %}
	 {{ include('ui/new-link-success-notification.html.twig') }}
{% endif %}
{% if is_error == true %}
	 {{ include('ui/new-link-failure-notification.html.twig') }}
{% endif %}