<div class="newlink small {# fullscreen #} modal ui">
	<div class="header">New Shortcode</div>
	<div class="content">
		<div class="ui center aligned container">
			<form class="ui form newlinkform" >
				<div class="ui error message"></div>

				{# URL input #}
				<div class="{# required #} ui fluid right labeled field input corner">
					<label for="url_input" class="ui label">URL</label>
					<input type="text" id="url_input" name="url" placeholder="Paste URL Here">
					<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
				</div>

				{# Title input #}
				<div class="{# required #} ui fluid action input field right labeled" id="title_input_div">
					<label for="title_input" class="ui label">Title</label>
					<input type="text" id="title_input" name="title" value="">
					<div class="ui icon button" id="detect_title_button">
						<i class="quote left icon"></i>
					</div>
				</div>

				{# Shortcode #}
				<div class="ui fluid action input field right labeled" id="shortcode_input_div">
					<label for="shortcode_input" class="ui label">Shortcode</label>
					<input type="text" id="shortcode_input" name="shortcode" value="" readonly="" >
					<div class="ui icon button" id="refresh_shortcode_button">
						<i class="refresh icon"></i>
					</div>
				</div>

				{# Tags #}
				{# <div class="ui fluid input right labeled left icon" id="tags_input_div">
					{# <label for="shortcode_input" class="ui label">Shortcode</label> #}
				{#	<input type="text" id="tags_input" name="shortcode" value="" placeholder="Enter tags">
					<a class="ui tag label">
						Add Tag
					</a>
				</div> #}


				{#
				<div class="ui fluid field">
					{# is_public? Checkbox #}
					{# <div class="ui toggle checkbox is_public_check" id="is_public_input">
						<label>Make link public</label>
						<input type="checkbox" tabindex="0" name="public" class="hidden is_public_check" checked="checked" value="true">
					</div> #}
				{# </div> #}

				{# Description field #}
				<div class="ui fluid field">
					<label>Description</label>
					<textarea name="desc" id="desc_input"></textarea>
				</div>
				<div class="ui buttons">
					<button class="ui negative circular button" id="cancel_newlink_button" type="button">Cancel</button>
					{# <div class="or"></div> #}
					<button class="ui positive circular button" id="submit_newlink_button" type="button">Shorten</button>
				</div>
			</form>
		</div>
	</div>
	{#
	<div class="actions">
		<div class="ui buttons">
			<div class="ui cancel button" id="newlink_cancel_button">Cancel</div>
			<div class="or"></div>
			<div class="ui approve positive button submitnewlink" id="newlink_submit_button">Shorten</div>
		</div>
	</div>
	#}
</div>