<div class="item">
	{# Images
	<div class="ui small image">
		<img src="">
	</div>
	#}
	<div class="content">
		<a class="header" href="/{{ link.shortcode }}">{{ link.page_title }}</a>
		<div class="meta">
			{{ link.url }}
		</div>
		<div class="description">
			<p> {{ link.desc }}</p>
		</div>
		<div class="extra">
			<div class="ui {# medium #} label"><i class="share icon"></i>{{ link.shortcode }}</div>
			<div class="ui {# medium #} label"><i class="unhide icon"></i>{{ link.views }} {# Views #}</div>
			<div class="ui label"><i class="calendar plus icon"></i>{{ link.created_at.toDateTime()|date("F jS, Y \\a\\t g:ia", "America/Los_Angeles") }} PST</div>
			{# <div class="ui label">IMAGE_ID: {{ link.image_id }}</div> #}
			{# {{ link.url }} #}
			{# {{ include('ui/view-all_link_buttons.html.twig') }} #}
		</div>
	</div>
</div>