<tr>
    <td>{{ link.shortcode }}</td>
    <td>{{ link.url }}</td>
	<td><div class="ui rating" data-rating="{{ link.rating }}" data-max-rating="5"></div></td>
    <td>
    	<div class="ui buttons">
    		{{ include('ui/view-all_link_info_button.html.twig') }}
    		{{ include('ui/view-all_link_buttons.html.twig') }}
    	</div>
    </td>
</tr>