{# Takes an array of $links #}
<div class="ui container">
<table class="ui celled table">
    <thead>
        <tr>
            <th width="10">Shortcode</th>
            <th>URL</th>
			<th>Rating</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for link in links %}
                {{ include('ui/links-table_row.html.twig') }}
            {% endfor %}            
        </tbody>
</table>
</div>