<div class="ui positive message">
	<i class="close icon"></i>
	<div class="header">
		Shortlink successfully created
	</div>
	<p>Added <b>{{ old_url }}</b> with shortcode <b>{{ old_shortcode }}</b></p>
</div>