<div class="ui tiny icon inverted menu {# fixed #} sticky" style="padding-bottom:5px;margin-bottom:10px">
        <div class="teal header item">
            <h1 id="_app_info_" data-title="URKL Url Shortener" data-content="{# Created by Eric Tomasso#}" data-position="bottom left">URKL</h1>
        </div>
        {# These two commented links aren't needed at the moment, as this is a simple single-page web application without user accounts  #}
        {# Home
        <a class="olive item">
            <i class=" big icons" data-tooltip="Home" data-position="bottom center">
                <i class="home  icon"></i>
                {# Home #}
           {#  </i> 
        </a> #}
        {# All Links
        <a class="olive item" href="/all" >
            <i class=" big icons" data-tooltip="View all links" data-position="bottom center">
                <i class="browser  icon"></i>
            </i>
        </a> #}
        {# Add New Link #}
        <i class=" big icons" data-tooltip="Add new link" data-position="bottom center">
            <a class="olive item newlink" {# href="/new" #}>
                <i class="icon add"></i>
                {# <i class="linkify icon"></i> Link icon
                <i class="inverted corner huge add icon"></i>#} {# These two are a link icon and a little plus icon in the bottom right corner #}
            </a>
        </i>
        {# User #}
        {# This will be a dropdown menu showing an avatar and a menu of profile and settings options #}
        {#
        <i class="big icons" data-tooltip="Profile" data-position="bottom right">
            <a class="olive item profile_button"> 
                <i class="icon user"></i>
            </a>
        </i>
        #}
        {# Settings #} {#
        <div class="olive item">
            <i class=" big icons" data-tooltip="Settings" data-position="bottom right">
                <i class="settings icon"></i>
            </i>
        </div>
        #}
        
</div>