<div class="ui right floated labeled button">
    <a href="/{{ link.shortcode }}">
        <div class="small ui orange basic button">
            <i class="unhide icon"></i>View
        </div>
        <a href="#" class="ui black label">{{ link.views }}</a>
    </a>
</div>
